<nav>
     
      {{>link text="Task22" href="/task22" line=true}}
      {{>link text="Task-21" href="/task-21" line=true}}
      {{>link text="Task31" href="/task31" line=true}}
      {{>link text="Task41" href="/shophome" line=true}}
      {{>link text="Task42" href="/shopproduct" line=true noLine=true}}

</nav>